<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaochis.wind.user.mapper.WindUserMapper">
  <resultMap id="BaseResultMap" type="com.chaochis.wind.user.vo.WindUser">
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_nick_name" jdbcType="VARCHAR" property="userNickName" />
    <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
    <result column="user_mobile" jdbcType="VARCHAR" property="userMobile" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="user_password_salt" jdbcType="VARCHAR" property="userPasswordSalt" />
    <result column="user_level" jdbcType="INTEGER" property="userLevel" />
<!--    <result column="user_status" jdbcType="VARCHAR" property="userStatus" />-->
  </resultMap>
</mapper>
