<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chaochis.wind.user.mapper.WxAccountMapper">
  <resultMap id="WxAccountMap" type="com.chaochis.wind.user.vo.WxAccount">
    <id column="account_id" jdbcType="VARCHAR" property="accountId" />
    <result column="union_id" jdbcType="VARCHAR" property="unionId" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="wx_nick_name" jdbcType="VARCHAR" property="wxNickName" />
    <result column="wx_avatar" jdbcType="VARCHAR" property="wxAvatar" />
    <result column="register_ip" jdbcType="VARCHAR" property="registerIp" />
    <result column="login_ip" jdbcType="VARCHAR" property="loginIp"/>
    <result column="register_date" jdbcType="TIMESTAMP" property="registerDate"/>
    <result column="login_date" jdbcType="TIMESTAMP" property="loginDate"/>
    <result column="token" jdbcType="VARCHAR" property="token"/>
    <result column="user_id" jdbcType="VARCHAR" property="userId"/>
    <result column="account_status" jdbcType="INTEGER" property="accountStatus"/>
    <result column="account_status_text" jdbcType="VARCHAR" property="accountStatusText"/>
  </resultMap>
  <select id="getWxAccountList" resultType="com.chaochis.wind.user.vo.WxAccount">
    select account_id, union_id, open_id, wx_nick_name, wx_avatar, register_ip, login_ip, register_date, login_date, token, wx.user_id, account_status, account_status_text from wx_account wx
    <where>
      <if test="wxNickName != null and wxNickName != ''">AND wx_nick_name like concat('%', #{wxNickName}, '%')</if>
      <if test="accountStatus != null"> AND account_status = #{accountStatus}</if>
    </where>
  </select>
  <select id="getBoundWindUser" resultMap="com.chaochis.wind.user.mapper.WindUserMapper.WindUserMap">
    select user_id, user_level, user_status, user_nick_name, user_sex, user_sex_text, user_avatar, user_email, user_mobile, user_real_name
    from wind_user where user_id in ( select user_id from wx_account where account_id = #{wxAccountId} )
  </select>
</mapper>
